<h1>Carrito</h1>

<div class="container"></div>
{{#each products}}
  <div class="carrito-producto">
    <div class="carrito-producto-info">
      <img src="{{this.product.thumbnails}}" alt="{{this.product.title}}">
      <div>
        <p class="titulo">{{this.product.title}}</p>
        <p class="descripcion">{{this.product.description}}</p>
      </div>
    </div>
    <p class="precio"> Precio unitario: ${{this.product.price}}</p>
    <p>Cantidad: {{this.quantity}}</p>
    <button onclick="deleteProduct('{{this.cartId}}', '{{this.product._id}}')" class="btn btn-danger">Eliminar</button>
  </div>
{{/each}}
</div>

<button onclick="emptyCart('{{cartId}}')" class="btn btn-danger">Vaciar Carrito</button>
<h3 class="mt-2">Total de la compra: ${{totalBuy}}</h3>

<script>
    function deleteProduct(cartId, productId) {
        fetch(`/api/carts/${cartId}/products/${productId}`, {
            method: 'DELETE'
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error al eliminar el producto del carrito');
                }
                location.reload();
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    function emptyCart(cartId) {
        fetch(`/api/carts/${cartId}`, {
            method: 'DELETE'
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error al vaciar el carrito');
                }
                location.reload();
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
</script>

