<h1>Carrito</h1>

<div class="container"></div>
{{#each products}}
  <div class="carrito-producto">
    <div class="carrito-producto-info">
      <img src="{{this.product.thumbnails}}" alt="{{this.product.title}}">
      <div>
        <p class="titulo">{{this.product.title}}</p>
        <p class="descripcion">{{this.product.description}}</p>
      </div>
    </div>
    <p class="precio"> Precio unitario: ${{this.product.price}}</p>
    <p>Cantidad: {{this.quantity}}</p>
    <button onclick="deleteProduct('{{this.cartId}}', '{{this.product._id}}')">Eliminar</button>
  </div>
{{/each}}
</div>

<button onclick="emptyCart('{{cartId}}')">Vaciar Carrito</button>
<h3 class="mt-2">Total de la compra: ${{totalBuy}}</h3>
<form action="/api/carts/{{cartId}}/purchase" method="POST">
<button type="submit">Comprar</button>
</form>
<a href="/products">Volver a tienda</a>
<script src="/js/cart.js"></script>


