<h1>PRODUCTOS</h1>
<section id="seccionProductos">
    <article class="articuloProductos">
{{#each products}}
        <div class="cardProducts">
            <h4 class="categoria itemProducts">{{category}}</h4>        
            <h2 class="titulo itemProducts">{{title}}   -   {{code}}</h2>
            <h3 class="precio itemProducts">Precio:{{price}}</h3>
            <img  class="imagen" src="{{thumbnails}}" alt="Imagen">
            <h5 class="descripcion itemProducts">{{description}}</h5>
            <form class="btnCardProducts" action="/api/carts/{{../cartId}}/products/{{id}}" method="POST">
                <button class="btnCartProducts" type="submit">Agregar a Carrito</button>
            </form>
        </div>
{{/each}}
    </article>
</section>