<h1>PRODUCTOS</h1>
<section id="seccionProductos">
    <article class="datosUsuario">
        <h2 class="subtitLogin subtitForm subtitUsuarios">Bienvenido, {{user.first_name}} {{user.last_name}}!</h2>
        <div class="contenedorProfile contenedorPerfil">
            <p class="datoPerfil emailPerfil">Email: {{user.email}}</p>
            <p class="datoPerfil rolPerfil">Rol: {{user.role}}</p>
        </div>
        <button><a class="btnLogout btnForm" href="/api/sessions/logout">Logout</a></button>
    </article>
    <article class="articuloProductos">
{{#each payload}}
        <div class="card">
            <h4 class="categoria">{{this.category}}</h4>        
            <h2 class="titulo">{{this.title}}   -   {{this.code}}</h2>
            <h3 class="precio">Precio:{{this.price}}</h3>
            <img  class="imagen" src="{{this.thumbnails}}" alt="Imagen">
            <h5 class="descripcion">Descripción: {{this.description}}</h5>
            <button>Comprar</button>
        </div>
{{/each}}
    </article>
</section>